@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination > .swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
}

.banner-image-cover {
  -webkit-mask-image: linear-gradient(270deg,transparent 0,rgb(36,36,40) 1%,rgb(36,36,40) 10%,transparent);
  mask-image: linear-gradient(270deg,transparent 0,rgb(36,36,40) 30%,rgb(36,36,40) 70%,transparent);
}

.banner-inner-image-cover {
  -webkit-mask-image: linear-gradient(0deg,transparent 0,rgb(36,36,40) 20%,rgb(36,36,40) 90%,transparent);
  mask-image: linear-gradient(0deg,transparent 0,rgb(36,36,40) 30%,rgb(36,36,40) 70%,transparent);
}
